USE [chat]
GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 22.05.2025 00:06:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversations](
	[ConversationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ConversationName] [nvarchar](100) NULL,
	[StartDate] [datetime] NULL,
	[LastUpdateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ConversationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavoriteConversations]    Script Date: 22.05.2025 00:06:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteConversations](
	[FavoriteID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ConversationID] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FavoriteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 22.05.2025 00:06:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[ConversationID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[IsUserMessage] [bit] NULL,
	[MessageContent] [nvarchar](max) NOT NULL,
	[SentDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPreferences]    Script Date: 22.05.2025 00:06:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPreferences](
	[PreferenceID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Budget] [nvarchar](20) NULL,
	[Company] [nvarchar](20) NULL,
	[Dress] [nvarchar](20) NULL,
	[Mood] [nvarchar](20) NULL,
	[TimePreference] [nvarchar](20) NULL,
	[Interests] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PreferenceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22.05.2025 00:06:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[RegisterDate] [datetime] NULL,
	[LastLoginDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Conversations] ON 

INSERT [dbo].[Conversations] ([ConversationID], [UserID], [ConversationName], [StartDate], [LastUpdateDate]) VALUES (2, 1, N'Ankara Gezi Sohbeti', CAST(N'2025-05-19T20:12:40.367' AS DateTime), CAST(N'2025-05-19T20:12:50.310' AS DateTime))
INSERT [dbo].[Conversations] ([ConversationID], [UserID], [ConversationName], [StartDate], [LastUpdateDate]) VALUES (3, 2, N'Ankara Gezi Sohbeti', CAST(N'2025-05-19T20:26:37.233' AS DateTime), CAST(N'2025-05-19T20:26:37.233' AS DateTime))
INSERT [dbo].[Conversations] ([ConversationID], [UserID], [ConversationName], [StartDate], [LastUpdateDate]) VALUES (5, 1, N'Ankara Gezi Sohbeti', CAST(N'2025-05-19T20:36:56.577' AS DateTime), CAST(N'2025-05-19T20:38:07.010' AS DateTime))
SET IDENTITY_INSERT [dbo].[Conversations] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageID], [ConversationID], [UserID], [IsUserMessage], [MessageContent], [SentDate]) VALUES (3, 2, 1, 1, N'sal beni', CAST(N'2025-05-19T20:12:40.370' AS DateTime))
INSERT [dbo].[Messages] ([MessageID], [ConversationID], [UserID], [IsUserMessage], [MessageContent], [SentDate]) VALUES (4, 2, 1, 0, N'Merhaba! Size nasıl yardımcı olabilirim?', CAST(N'2025-05-19T20:12:41.480' AS DateTime))
INSERT [dbo].[Messages] ([MessageID], [ConversationID], [UserID], [IsUserMessage], [MessageContent], [SentDate]) VALUES (5, 2, 1, 1, N'reçete nedir üretimde', CAST(N'2025-05-19T20:12:50.313' AS DateTime))
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[UserPreferences] ON 

INSERT [dbo].[UserPreferences] ([PreferenceID], [UserID], [Budget], [Company], [Dress], [Mood], [TimePreference], [Interests], [CreatedDate], [UpdatedDate]) VALUES (1, 1, NULL, NULL, NULL, NULL, NULL, N'', CAST(N'2025-05-21T20:12:30.237' AS DateTime), CAST(N'2025-05-21T23:18:09.247' AS DateTime))
INSERT [dbo].[UserPreferences] ([PreferenceID], [UserID], [Budget], [Company], [Dress], [Mood], [TimePreference], [Interests], [CreatedDate], [UpdatedDate]) VALUES (2, 4, N'high', N'partner', N'elegant', N'energetic', N'10+', N'museum,concert,cinema,theater,food', CAST(N'2025-05-21T23:18:41.053' AS DateTime), CAST(N'2025-05-21T23:40:22.933' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserPreferences] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [RegisterDate], [LastLoginDate], [IsActive]) VALUES (1, N'admin', N'koto@gmail.com', N'pbkdf2:sha256:600000$Wb82s61slBW1BM94$dbb643416ed25c7d732db5a91684b36f44116aed1e686de885e7ad4c6f964d63', CAST(N'2025-05-19T20:11:56.470' AS DateTime), CAST(N'2025-05-21T22:30:29.390' AS DateTime), 1)
INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [RegisterDate], [LastLoginDate], [IsActive]) VALUES (2, N'koto', N'kotobaba@gmail.com', N'pbkdf2:sha256:600000$dGuVL9oFDylBXj0g$03f3ddf6903b6ab9053fe97e8030e7977ffc9d325552cb2e3acd9c3734b8e9a0', CAST(N'2025-05-19T20:13:45.020' AS DateTime), CAST(N'2025-05-19T20:13:53.020' AS DateTime), 1)
INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [RegisterDate], [LastLoginDate], [IsActive]) VALUES (3, N'sena', N'sena@gmail.com', N'pbkdf2:sha256:600000$7n8sGliwOGw7Yp8U$8f6396611a44b6058b55e54b7d311aceba348496acdf3bc3235df98a8818f053', CAST(N'2025-05-19T21:10:48.703' AS DateTime), CAST(N'2025-05-19T21:10:55.833' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UC_UserConversation]    Script Date: 22.05.2025 00:06:23 ******/
ALTER TABLE [dbo].[FavoriteConversations] ADD  CONSTRAINT [UC_UserConversation] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[ConversationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4DA30923B]    Script Date: 22.05.2025 00:06:23 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105348DE38213]    Script Date: 22.05.2025 00:06:23 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Conversations] ADD  DEFAULT ('Yeni Sohbet') FOR [ConversationName]
GO
ALTER TABLE [dbo].[Conversations] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[Conversations] ADD  DEFAULT (getdate()) FOR [LastUpdateDate]
GO
ALTER TABLE [dbo].[FavoriteConversations] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((1)) FOR [IsUserMessage]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [SentDate]
GO
ALTER TABLE [dbo].[UserPreferences] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[UserPreferences] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [RegisterDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[FavoriteConversations]  WITH CHECK ADD FOREIGN KEY([ConversationID])
REFERENCES [dbo].[Conversations] ([ConversationID])
GO
ALTER TABLE [dbo].[FavoriteConversations]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([ConversationID])
REFERENCES [dbo].[Conversations] ([ConversationID])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserPreferences]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
